<div 
  class="flex justify-around h-12 bg-white dark:bg-gray-900 dark:border-none"
  [ngClass]="{
    'border-t w-screen': isMobile(),
    'border-b': !isMobile(),
  }"
  >
    <a routerLink="/" class="md:w-10 my-auto"> 
      <img class="h-8 float-left" src="favicon.png" alt="logo"/>
    </a>
    <a class="m-2" routerLink="/">Home</a>
    <a class="m-2" routerLink="/create">New</a>
    <button class="cursor-pointer" (click)="toggleTheme()">
      @if (isDark) {
        <ng-icon strokeWidth="2" size="17" name="heroMoon" />
      } @else {
        <ng-icon strokeWidth="2" size="17" name="heroSun" />
      }
    </button>
  </div>